In [5]:
import numpy as np
import math
import sys, os
from pathlib import Path
import pandas as pd
pd.set_option('display.max_columns', 500)
from scipy.special import softmax
from itertools import combinations
import re

import copy
import plotly.express as px
import pandas as pd
from datetime import timedelta

In [ ]:

# ----- Internal Dependencies -------#
nb_dir = os.path.split(os.getcwd())[0]
sys.path.append("../..")
if nb_dir not in sys.path:
    sys.path.append(nb_dir)
from General import FileRead
from General import AccuracyMetrics
from General.GeneralFunctions import get_add_to_dict
from General import TableManipulations
from FeatureGeneration import GeneralFeatures
from General import FileWrite

from Plot.PdfHelper import PdfHelper
from Plot.PlotMaker import PlotMaker
from Plot import VoltagePlots
from Plot import PlotFunctions
from Plot import AdHocPlots
from Plot import SimPlots

# widget and notebook stuff
from ipywidgets import interact, fixed
import plotly.io as pio
pio.renderers.default = "plotly_mimetype+notebook"

In [ ]:
full_folder = Path(r'/Users/liangwang/Library/CloudStorage/OneDrive-Biolinq/Documents - Clinical Data Analysis/Data/CP-008 Session 17 - eBlinq17/rocky_17b/prospective_8S17_v14d_2022_5day/subset_background_exclusions')
save_folder = full_folder.joinpath('iCGM by JMP')
os.makedirs(save_folder, exist_ok=True)

In [ ]:
full_folder = Path(r'/Users/liangwang/Library/CloudStorage/OneDrive-Biolinq/Documents - Clinical Data Analysis/Data/Aggregate/eblinq19c_20_22/Experiment/prospective_AggData_CalFree_v14p_5day_neg3_pos3')
loaded_data = FileRead.load_pickle('alg_out.zip', full_folder, as_dict=True)

In [ ]:
loaded_data.keys()

In [ ]:
data_dictionary = loaded_data['data_dictionary']
sensorId = 'br232570070099'
sensor_data = data_dictionary[sensorId]
sensor_data

In [ ]:
sensor_data.shape[0]

In [ ]:
all_sensor_data = loaded_data['all_sensor_data']
sensorId = 'br232570070099'
sensor_data = all_sensor_data[sensorId]
sensor_data['biolinq'].head()

In [ ]:
loaded_data['aggregated_data']['biolinq'].to_csv('/Users/liangwang/Library/CloudStorage/OneDrive-Biolinq/Documents - Clinical Data Analysis/Data/Aggregate/eblinq19c_20_22/Experiment/prospective_AggData_CalFree_v14p_5day_neg3_pos3/Analysis/agg_biolinq.csv', header=True)

In [ ]:
all_sensor_data = loaded_data['all_sensor_data']
sensorId = 'br232570070099'
sensor_data = all_sensor_data[sensorId]
ysi_data = sensor_data['ysi'].copy()
ysi_data.insert(len(ysi_data.columns),'delta_time',np.nan)
ysi_data.insert(len(ysi_data.columns),'roc',np.nan)
ysi_data.head()

In [ ]:
ysi_data.loc[:,'delta_time'] = ysi_data['Time'].diff().dt.total_seconds()/60
ysi_data.loc[:,'roc'] = ysi_data['ysi'].diff().divide(ysi_data.loc[:,'delta_time'])
ysi_data.head()

In [ ]:
sampleData = sensor_data['acck'].copy()
sampleData.head()

In [ ]:
sampleAggData = loaded_data['aggregated_data']['Libre'].copy()
sampleAggData.head(3)

In [ ]:
sampleAggData.insert(len(sampleAggData.columns),'Time_biolinq',sampleAggData['Time'])

In [ ]:
sampleAggData.head(3)

In [ ]:
error_check = pd.DataFrame(data={'glucose':np.arange(0,600,.1), 'n_instances':0})
print(error_check)

In [ ]:
import re

email = 'no-reply@pythontutorial.net'
pattern = r'[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}'
match = re.fullmatch(pattern, email)

In [ ]:
print(match.group())

In [ ]:
full_folder = Path(r'/Users/liangwang/Library/CloudStorage/OneDrive-Biolinq/Documents - Clinical Data Analysis/Data/CP-008 Session 17 - eBlinq17/rocky_17b/prospective_8S17_v14d_2022_5day_40_400/subset_background_exclusions/iCGM by LW')
save_folder = full_folder.joinpath('icgm_performance')
loaded_data = FileRead.load_pickle('alg_out.zip', save_folder, as_dict=True)
ysiAggData = loaded_data['aggregated_data']['ysi']
ysiAggData.head()

In [ ]:
FileWrite.write_append_df_to_csv(full_folder, 'ysiAggData.csv', ysiAggData, append_if_exists=False)

In [ ]:
from pathlib import Path
from copy import deepcopy

# need these lines to import if running a notebook:
nb_dir = os.path.split(os.getcwd())[0]
sys.path.append("../..") # get the main directory in the path
if nb_dir not in sys.path:
    sys.path.append(nb_dir)	
from General import AccuracyMetrics
from General import FileRead

 

# load data
full_folder = Path(r'C:\DataProcessing\CP-008 Session 15 - eBlinq15\wherever file is\')
loaded_data = FileRead.load_pickle('alg_out.zip', full_folder, as_dict=True)

 

alg_outputs = deepcopy(loaded_data['alg_outputs']) # deep copy of the dataframes inside the dictionary so we can don't change the data (can rerun this without reloading)
data_dictionary = deepcopy(loaded_data['data_dictionary'])
sensor_map_df = loaded_data['sensor_map_df'].copy()
if 'sensor_id' not in sensor_map_df.columns:
    sensor_map_df['sensor_id'] = sensor_map_df['Sensor_Id'].astype(str)
    sensor_map_df.set_index('sensor_id', inplace=True)
	
# if you need to re run the data aggregation step:
from PerformanceEvaluation import PerformanceEvaluation
minimum_setting= dict(main={'output_path':full_folder.joinpath('test')})
pe = PerformanceEvaluation(minimum_setting)
aggregated_data = self.evaluator.create_aggregated_data(alg_outputs, sensor_map_df, data_dictionary)

 

# running the concurrence table, i presume yours is similar

paired_pts_dataframe = aggregated_data['ysi']
df_list = AccuracyMetrics.calculate_concurrence_table(paired_pts_df, test_col='biolinq', ref_col='ysi')

In [ ]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [ ]:
ysiAggData.head()

In [ ]:
print(ysiAggData.columns)

In [ ]:
ysiAggDataCopy = ysiAggData.copy()
ysiAggDataCopy.rename(columns={"biolinq bin agreement_15pct": "p15_biolinq", "Subject ID": "subject_id"}, inplace=True)
ysiAggDataCopy["p15_biolinq"] = ysiAggDataCopy["p15_biolinq"]*1
ysiAggDataCopy.insert(0,'dummy',0)
ysiAggDataCopy.head(3)

In [ ]:
fam = sm.families.Binomial()
ind = sm.cov_struct.Exchangeable()
mod = smf.gee("p15_biolinq ~ dummy", groups="sensor_id", data=ysiAggDataCopy, cov_struct=ind, family=fam)
fitResult = mod.fit()
print(fitResult.summary())

In [ ]:
fam = sm.families.Binomial()
ind = sm.cov_struct.Exchangeable()
mod = sm.GEE.from_formula("p15_biolinq ~ dummy", groups="sensor_id", data=ysiAggDataCopy, cov_struct=ind, family=fam)
fitResult = mod.fit()
print(fitResult.summary())

In [ ]:
pp = 0.8119
lb = pp - 1.96 * np.sqrt(pp*(1-pp)/516)
print(lb)

In [ ]:
ci_matrix = fitResult.conf_int(alpha = 0.1, cov_type = 'robust')

In [ ]:
ysiAggDataCopy["combined"] = ysiAggDataCopy.loc[:,["p15_biolinq","Sensor_Id"]].values.tolist()
ysiAggDataCopy.head()

In [ ]:
df = pd.DataFrame(ysiAggDataCopy["combined"])
df[['p15','sensorId']] = pd.DataFrame(df.combined.tolist(),index = df.index)
df.head()

In [ ]:
df = pd.DataFrame({"rate": np.linspace(0,1,11), "Sensor_Id": ['a']*3+['b']*4+['c']*4})
df.head()

In [ ]:
sid_df = pd.DataFrame({'Sensor_Id': pd.unique(df['Sensor_Id'])})
sid_df.head()

In [ ]:
bootstrap_df = sid_df.sample(frac=1, replace=True, random_state=4)
bootstrap_df = bootstrap_df.merge(df,how='left')
print(df)
print(bootstrap_df)

In [ ]:
print(df)
print(df['rate'].mean())

In [ ]:
np.full(10, np.nan)

In [ ]:
num_list = np.linspace(1,10,10)
print(num_list)
print(num_list[0:10])
print([0:10])

In [ ]:
import random as rd

In [ ]:
x = list(range(1,10000))
print(x)
rd.seed(11)
rd.shuffle(x)
print(x)

In [ ]:
df.sample(frac=1, replace=True, random_state=1)

In [ ]:
df.groupby('Sensor_Id').sample(frac=1, replace=True, random_state=2)

In [ ]:
np.mean([True,False])

In [ ]:
import re
print(re.fullmatch(r'mag\d_1007', 'mag1_1007'))

In [ ]:
r'mag\d_1007'

In [ ]:
df = pd.DataFrame({'angles': [0, 2, 5],
                   'degrees': [360, 180, 360]},
                  index=['circle', 'triangle', 'rectangle'])
df

In [ ]:
df.loc[:,'angles'].rdiv(1)

In [ ]:
df.insert(0,'dummy',1)
df

In [ ]:
'dummy1' in df.columns

In [ ]:
a = pd.Series([1, 1, 0.0, np.nan])
print(a.rdiv(1))
print(1/a)

In [ ]:
v1 = [np.nan, 1, 3, 4, 8, 10, 12]
v2 = [np.nan, 0, 4, 7, 8, 11, 13.5]
s1 = pd.Series(v1)
s2 = pd.Series(v2)
s1.rolling(4,min_periods=3).corr(s2)

In [ ]:
df = pd.DataFrame({'col1':v1,'col2':v2})
print(df)
df.apply(softmax,axis=1)

In [ ]:
softmax(np.array([-0.1,0.1,-0.2])*5)

In [ ]:
softmax(np.array([0.95,0.50,-1e4])*5)

In [ ]:
tmp_str=['a','b','c']
tt = tmp_str.copy()
tt.remove('b')
print(tmp_str)
print(tt)

In [ ]:
for i, j, k in zip([0, 1, 2], ['a', 'b', 'c'],['aa','bb','cc']):
    print('i:', i, 'j:', j,'k:', k)

In [ ]:
for i, j in enumerate(['a', 'b', 'c']):
    print('i:', i, 'j:', j)

In [ ]:
test = [0,1,2]
print(test)
test = [2,3,4]
print(test)
test[1]=100
print(test)

In [ ]:
s = pd.Series(range(10))
print(s)
s.rolling(window=5,center=True).sum()

In [ ]:
a = pd.Series([1, 2, 3, np.nan])
print(a.pow(2))
print(a.pow(2).rolling(3,min_periods=2).sum())
print(a.pow(2).rolling(3,min_periods=2).mean())
a.pow(2).rolling(3,min_periods=2).sum().divide(a.pow(2).rolling(3,min_periods=2).mean())

In [ ]:
pd.Timedelta('7.5min')

In [ ]:
combination_paired_ch = list(combinations(['1','3','4'],2))
print(combination_paired_ch)

In [ ]:
df_time = pd.DataFrame({'B': [0, 1, 2, np.nan, 4, 5],
                        'A':[pd.Timestamp('20130101 09:00:00'),
                              pd.Timestamp('20130101 09:00:02'),
                              pd.Timestamp('20130101 09:00:03'),
                              pd.Timestamp('20130101 09:00:05'),
                              pd.Timestamp('20130101 09:00:06'),
                              pd.Timestamp('20130101 09:00:07')]})
print(df_time)

In [ ]:
print(df_time['B'].rolling(2,min_periods=1).mean())
print(df_time.rolling('3S',on='A',min_periods=1).sum())

In [ ]:
df_time['B'].rolling(2,min_periods=1).mean().divide(df_time['B'])

In [ ]:
print([0.036/18,0.27/18])
print(0.02/18)
print(1/0.002-1/(0.002-0.02/18))

In [85]:
car = {'Year of Launch': [1999, np.nan, 1986, 2020, np.nan,
                          1991, 2007, 2011, 2001, 2017],
       'Engine Number': [np.nan, 15, 22, 43, 44, np.nan,
                         55, np.nan, 57, np.nan],
       'Chasis Unique Id': [4023, np.nan, 3115, 4522, 3643,
                            3774, 2955, np.nan, 3587, np.nan]}
# Create the dataframe
df = pd.DataFrame(car, columns=['Year of Launch', 'Engine Number',
                                'Chasis Unique Id'])
df

   Year of Launch  Engine Number  Chasis Unique Id
0          1999.0            NaN            4023.0
1             NaN           15.0               NaN
2          1986.0           22.0            3115.0
3          2020.0           43.0            4522.0
4             NaN           44.0            3643.0
5          1991.0            NaN            3774.0
6          2007.0           55.0            2955.0
7          2011.0            NaN               NaN
8          2001.0           57.0            3587.0
9          2017.0            NaN               NaN

In [ ]:
def add_row(df_test,new_row):
    df.loc[len(df_test)] = new_row

print(df)
add_row(df,df.iloc[0])
print(df)

In [ ]:
df[len(df)] = df.iloc[0]

In [ ]:
df.loc[len(df)+1] = [1,2,3]
print(df.loc[-1])

In [ ]:
df2 = df.loc[np.isnan(df['Engine Number'])].copy()
print(df2)
print(df2.index)
df2.reset_index(inplace=True,drop=True)
print(df2)
print(df2.index)

In [ ]:
df2.rename(columns={'aa': 'aa'},inplace=True)

In [ ]:
drop_index = df[df['Year of Launch']<2000].index
print(df.drop(drop_index,inplace=True))
print(df)

In [ ]:
np.int64(3) != 2

In [ ]:
df.loc[np.isnan(df['Engine Number'])].index

In [ ]:
type(df.loc[0,'Engine Number'])

In [74]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [ ]:
data_carrier = df.loc[0]

In [ ]:
for ind in df.index:
    print(df.loc[ind])

In [ ]:
data_carrier['Year of Launch']

In [ ]:
df.fillna(1,inplace=True)

In [ ]:
# dropping the rows having NaN values
df = df.dropna()
 
# # To reset the indices
df = df.reset_index(drop=True)
 
# Print the dataframe
df

In [ ]:
np.nan in [-np.inf, np.inf]

In [ ]:
nn_low_hidden = pd.read_csv('/Users/liangwang/GitHub/DataAnalysis/Calibration/Fault before Fusion/model_low_hidden_ch3.csv')
nn_low_output = pd.read_csv('/Users/liangwang/GitHub/DataAnalysis/Calibration/Fault before Fusion/model_low_output_ch3.csv')
nn_min_max_scaler = pd.read_csv('/Users/liangwang/GitHub/DataAnalysis/Calibration/Fault before Fusion/model_nn_min_max_scaler_ch3.csv')

In [ ]:
nn_low_hidden.set_index('Unnamed: 0',inplace=True)
nn_low_hidden

In [ ]:
feature_col = list(nn_low_hidden.index[1:])
feature_col

In [ ]:
nn_min_max_scaler.set_index('Unnamed: 0',inplace=True)
nn_min_max_scaler

In [ ]:
nn_min_max_scaler.loc[feature_col,'Min']

In [ ]:
nn_low_output.set_index('Unnamed: 0',inplace=True)

In [ ]:
nn_low_output.loc[1:10,:].min()

In [ ]:
x_test_norm_2 = biolinq[feature_col].subtract(nn_min_max_scaler.loc[feature_col,'Min']).divide(nn_min_max_scaler.loc[feature_col,'Max']-nn_min_max_scaler.loc[feature_col,'Min'])
y_test_low_proba_2 = x_test_norm_2.dot(nn_low_hidden.loc[feature_col,:]).add(nn_low_hidden.loc['hidden_intercept']).applymap(relu_0).dot(nn_low_output.loc[1:10,:].reset_index(drop=True)).add(nn_low_output.loc[0,:]).applymap(sigmoid)

In [ ]:
isinstance('aaa',str)

In [ ]:
type('aaa')

In [ ]:
1066*6

In [ ]:
test = ['a','b']
'a' + test[1]

In [ ]:
test = []
test.append('a')

In [ ]:
test.append('b')
test

In [ ]:
import importlib.util
import sys

# For illustrative purposes.
file_path = '/Users/liangwang/GitHub/Hello World/test_module_plugin.py'
module_name = 'aaa'

spec = importlib.util.spec_from_file_location(module_name,file_path)
module = importlib.util.module_from_spec(spec)
spec.loader.exec_module(module)
print(dir(module))

In [ ]:
add_or_subtract = module.add_or_subtract

In [ ]:
add_or_subtract(5,17,True)

In [ ]:
module.np.pi

In [ ]:
module.add_or_subtract(2,3,True)

In [ ]:
from pathlib import Path
Path('/Users/liangwang/GitHub/Algorithm/Modules/process_module.py')

In [45]:
from ruamel.yaml import YAML
yaml = YAML(typ='rt')
yaml.explicit_start = False
test = yaml.load(Path('/Users/liangwang/GitHub/Algorithm/Blue Prints/sample_blue_prints.yaml'))
test2 = yaml.load(Path('/Users/liangwang/GitHub/Algorithm/Modules/anomalyDetection/parameters.yaml'))
test3 = yaml.load(Path('/Users/liangwang/GitHub/Algorithm/Modules/alignment/output_info.yaml'))

In [46]:
test2.get('save_intermediate_states').get('value')

True

In [76]:
test2 = {}
test2['a'] = 1
test2['b'] = 2
print(test2)
print(test2.get('b'))

{'a': 1, 'b': 2}
2

In [39]:
type(True)

bool

In [ ]:
type(np.nan)

In [ ]:
type(test)

In [ ]:
test

In [ ]:
test2['modules']['non_glucose_signal_model']['module_class']='a'

In [ ]:
test == test2

In [ ]:
test.get('modules').get('non_glucose_signal_model').get('params_yaml_path')

In [ ]:
test.get('modules').get('non_glucose_signal_model').get('params_yaml_path') is None

In [ ]:
test.get('a') is None

In [ ]:
test_dict = dict(test['modules'])

In [ ]:
test_dict = yaml.load(test)

In [ ]:
type(test_dict)

In [ ]:
type(test_dict['non_glucose_signal_model'])

In [ ]:
test['modules']['non_glucose_signal_model'].update(test2['architecture_blocks'])

In [ ]:
test

In [ ]:
list(test)

In [ ]:
yaml.default_flow_style= False
filename = '/Users/liangwang/GitHub/Algorithm/Blue Prints/test.yaml'
with open(filename, 'w') as f:
    yaml.dump(test, f)

In [118]:
yaml = YAML(typ='rt')
test2 = yaml.dump((dict(a=1, b=2)), sys.stdout)
test2

a: 1
b: 2

In [ ]:
for step in test['architecture_blocks']:
    print(step)
    print(test['architecture_blocks'][step])

In [ ]:
type(test['architecture_blocks'])

In [ ]:
test

In [ ]:
def test_fun(yaml_data,yaml_data2):
    yaml_data['architecture_blocks']['new_block'] = yaml_data2['modules']
    del yaml_data['modules']

print(test)
print(test_fun(test,test2))
print(test)

In [ ]:
class test_class:
    def __init__(self):
        self.a = {'aa':1,'aa2':2}
        self.b = {'bb':3,'bb2':4}

test_obj = test_class()

In [ ]:
def update_test_obj(a,c):
    a['aa']=c

In [ ]:
print(test_obj.a)
print(test_obj.b)
update_test_obj(test_obj.a,5)
print(test_obj.a)
print(test_obj.b)

In [ ]:
'c' in ['a','b']

In [ ]:
test

In [ ]:
test_list = []
print(test_list)
test_list.extend('a')
print(test_list)
test_list.extend(['c','d'])
print(test_list)
test_list.extend(test.get('architecture_blocks'))
print(test_list)

In [ ]:
str_list = list(test.get('architecture_blocks'))
test_list.extend([each_str + 'aaa' for each_str in test.get('architecture_blocks')])
print(test_list)

In [ ]:
str_list = list(test.get('architecture_blocks'))
test_list.extend([list(test.get('architecture_blocks').get(each_str)) for each_str in test.get('architecture_blocks')])
print(test_list)

In [ ]:
 + ['aaa']

In [ ]:
test_dict = {}
test_dict['a'] = 5
test_dict['b'] = 6

In [ ]:
test_dict.items()

In [82]:
test_dict = {}
test_dict['a'] = [5,4]
test_dict['b'] = [6,7]

In [115]:
test_dict.get('c',15)

15

In [ ]:
pd.DataFrame.from_dict(test_dict,orient='index').T

In [ ]:
for _,value in test_dict.items():
    print(value)

In [ ]:
test_list = [np.nan, 0, None, 'Unknown']

In [ ]:
test_list_long = test_list * 3
test_matrix = np.reshape(test_list_long,[3,4])
print(test_matrix)
print(type(test_matrix))
test_df = pd.DataFrame(test_matrix, columns = ['a','b','c','d'])
print(test_df)

In [ ]:
test_dict = {}
test_dict['a'] = test_df
test_dict['b'] = test_df

In [ ]:
type(test_dict['b'])

In [ ]:
type(test_df.loc[0,'a'])

In [ ]:
test_none = None

In [ ]:
test_none == None

In [ ]:
test

In [ ]:
for i in test.get('architecture_blocks'):
    print(i)

In [ ]:
x = "hello"

#if condition returns False, AssertionError is raised:
assert x == "goodbye", f"x is {x}, but x should be 'hello'"

In [ ]:
module_name = 'feature_gen'
each_static_table = 'kalman'
assert each_static_table == module_name, f"{module_name} should only store static output under its own name"

In [ ]:
module_list = ['a','b','c']
dup = {x for x in module_list if module_list.count(x) > 1}
assert len(dup) == 0, f"{dup} are duplicated, module_name needs to be unique!"

In [ ]:
isinstance(dup,set)

In [ ]:
isinstance(test_dict,dict)

In [ ]:
import warnings
each_key = "a"
value_type = type(dup)
warnings.warn(f"{each_key} is {value_type}! By default all the modules assume the static_output data is pandas dataframe")

In [ ]:
df['Year of Launch']

In [ ]:
df.drop(df[df.index>=10].index,inplace=True)

In [ ]:
def test_return(x,y):
    if y: 
        return
    print(x)

In [ ]:
test_return('a',1)

In [ ]:
'c' in []

In [ ]:
for k, v in test.items():
    print(k)
    print(v)

In [ ]:
type(test)

In [7]:
import copy
copy.copy(aaa)

'xx'

In [ ]:
quotes = pd.DataFrame(
    {
        "time": [
            pd.Timestamp("2016-05-25 13:30:00.023"),
            pd.Timestamp("2016-05-25 13:30:00.023"),
            pd.Timestamp("2016-05-25 13:30:00.030"),
            pd.Timestamp("2016-05-25 13:30:00.041"),
            pd.Timestamp("2016-05-25 13:30:00.048"),
            pd.Timestamp("2016-05-25 13:30:00.049"),
            pd.Timestamp("2016-05-25 13:30:00.072"),
            pd.Timestamp("2016-05-25 13:30:00.075")
        ],
        "ticker": [
               "GOOG",
               "MSFT",
               "MSFT",
               "MSFT",
               "GOOG",
               "AAPL",
               "GOOG",
               "MSFT"
           ],
           "bid": [720.50, 51.95, 51.97, 51.99, 720.50, 97.99, 720.50, 52.01],
           "ask": [720.93, 51.96, 51.98, 52.00, 720.93, 98.01, 720.88, 52.03]
    }
)

trades = pd.DataFrame(
       {
           "time2": [
               pd.Timestamp("2016-05-25 13:30:00.023"),
               pd.Timestamp("2016-05-25 13:30:00.038"),
               pd.Timestamp("2016-05-25 13:30:00.048"),
               pd.Timestamp("2016-05-25 13:30:00.048"),
               pd.Timestamp("2016-05-25 13:30:00.048")
           ],
           "ticker": ["MSFT", "MSFT", "GOOG", "GOOG", "AAPL"],
           "price": [51.95, 51.95, 720.77, 720.92, 98.0],
           "quantity": [75, 155, 100, 100, 100]
       }
   )

In [ ]:
test_counter = 0
for ind,row in quotes.iterrows():
    # print(ind)
    # print(row)
    # print(test_counter)
    test_counter += 2
    row['ask'] = test_counter
    quotes.loc[ind,'new_col'] = test_counter
print(quotes)

In [14]:
pyfile_path = None

In [ ]:
assert pyfile_path is not None, "Module function is not provided!"

In [ ]:
pd.merge_asof(trades, quotes, left_on="time2",right_on='time',by="ticker")

In [ ]:
quotes['bid'].sub(quotes['ask'])

In [16]:
test_str = 'abc_def'

In [21]:
not test_str.endswith('abc')

True

In [25]:
test_dict.copy()

{'a': [5, 4], 'b': [6, 7]}

In [32]:
pd.DataFrame({'test_var2':[104]})

   test_var2
0        104

In [36]:
8*120

960

In [47]:
index = ['1/8/2013 6:06', '1/8/2013 6:23', '1/8/2013 6:40', '1/8/2013 6:57']

data = {'Safe1' : ['N', 'N', 'N', 'N'], 
        'Safe2': ['Y', 'Y', 'N', 'N'], 
        'Safe3': ['N', 'N', 'N', 'N'], 
        'Measurement': [0,0,28,31]}

df = pd.DataFrame(index=index, data=data)
df.index = pd.to_datetime(df.index)
df

                    Safe1 Safe2 Safe3  Measurement
2013-01-08 06:06:00     N     Y     N            0
2013-01-08 06:23:00     N     Y     N            0
2013-01-08 06:40:00     N     N     N           28
2013-01-08 06:57:00     N     N     N           31

In [57]:
type(df.index[2])

pandas._libs.tslibs.timestamps.Timestamp

In [60]:
type(df.loc[df.index[2],'Measurement'])

numpy.int64

In [68]:
df['test']= pd.to_datetime(df['Measurement'],unit='h')

In [69]:
df

                    Safe1 Safe2 Safe3  Measurement                test
2013-01-08 06:06:00     N     Y     N            0 1970-01-01 00:00:00
2013-01-08 06:23:00     N     Y     N            0 1970-01-01 00:00:00
2013-01-08 06:40:00     N     N     N           28 1970-01-02 04:00:00
2013-01-08 06:57:00     N     N     N           31 1970-01-02 07:00:00

In [75]:
test_str = 'a_b_c'
str_split = test_str.split('_')
print(str_split)
print('_'.join(str_split[:-1]))

['a', 'b', 'c']
a_b

In [79]:
test_str[-3:]

'b_c'

In [81]:
f'a_{test_str[-3:]}'

'a_b_c'

In [78]:
pd.DataFrame({'sim_slope': [0.0001], 'post_cal_intercept': [0.02]})

   sim_slope  post_cal_intercept
0     0.0001                0.02

In [ ]:
output_col_name_list = list(output_col_name)
for i in output_col_name_list:
    if output_col_name_list.count(i) > 1:
        print(i)

In [91]:
df

   Year of Launch  Engine Number  Chasis Unique Id
0          1999.0            NaN            4023.0
1             NaN           15.0               NaN
2          1986.0           22.0            3115.0
3          2020.0           43.0            4522.0
4             NaN           44.0            3643.0
5          1991.0            NaN            3774.0
6          2007.0           55.0            2955.0
7          2011.0            NaN               NaN
8          2001.0           57.0            3587.0
9          2017.0            NaN               NaN

In [100]:
test_index = df[df['Year of Launch']==1999].index

In [107]:
print(df.loc[df.index[-2:]])
print(type(df.loc[df.index[-2:]]))

   Year of Launch  Engine Number  Chasis Unique Id
8          2001.0           57.0            3587.0
9          2017.0            NaN               NaN
<class 'pandas.core.frame.DataFrame'>

In [104]:
print(df.loc[test_index])
print(type(df.loc[test_index]))
print(df.loc[0])
print(type(df.loc[0]))

   Year of Launch  Engine Number  Chasis Unique Id
0          1999.0            NaN            4023.0
<class 'pandas.core.frame.DataFrame'>
Year of Launch      1999.0
Engine Number          NaN
Chasis Unique Id    4023.0
Name: 0, dtype: float64
<class 'pandas.core.series.Series'>

In [90]:
list([[0,1]])

[[0, 1]]

In [109]:
np.asarray([[1, 1], [0, 1]])

array([[1, 1],
       [0, 1]])

In [112]:
f_values = [1, 1, 0, 1]
np.array([
            np.asarray(f_values[:2]),
            np.asarray(f_values[2:])
        ])

array([[1, 1],
       [0, 1]])

In [111]:
q_values = [.25, .5, .6, 1]
np.array([
            np.asarray(q_values[:2]),
            np.asarray(q_values[2:])
        ])

array([[0.25, 0.5 ],
       [0.6 , 1.  ]])

In [117]:
np.array([[1, 0]] * 1)

array([[1, 0]])

In [4]:
raise AssertionError('this is a test')

AssertionError: this is a test

In [2]:
import logging
logger = logging.getLogger()
logger.debug('test')

In [2]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
df2 = pd.DataFrame({'a': ['foo', 'baz', 'foo'], 'c': [3, 4, 5]})

In [4]:
df1.merge(df2, how='left', on='a')

     a  b    c
0  foo  1  3.0
1  foo  1  5.0
2  bar  2  NaN